# Interface utilisateur
streamlit

# PDF
fpdf
pdfplumber

# Appels API et environnement
requests
python-dotenv
chardet

# IA (Appels Groq ou Mistral depuis le front)
mistralai

# Traitement HTML (si tu montres ou analyses la fiche de poste côté front)
beautifulsoup4

# Token JWT pour LiveKit (vocal)
python-jose[cryptography]

# Upload de fichiers (si tu fais un POST vers /transcribe ou /context)
python-multipart
